.heroContainer{
    position: relative;
}

.heroContainer img{
    height:80vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.heroTextContainer{
    position: absolute;
    top: 0;
    left: 0;
}


.heroInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }

  .heroInfo h2{
      color: white;
      font-size: 2.5em;
      font-family: 'Rubik', sans-serif;
      margin-bottom: 0.5em;
  }

  .heroInfo p{
      margin-bottom: 1.5em;
      color: white;
  }

  .heroInfo a{
    background-color: #7b2cbf;
    font-family: 'Rubik', sans-serif;
    padding: 1em 1.5em;
    border-radius: 15px;
    color: white;
    width: 20%;
    text-align: center;
  } 

  @media (max-width: 600px) {
    .heroInfo{
        width: 100%;
        padding: 20px;
    }

    .heroInfo a {
        width: 100%;
    }
    
}
