.home{
    max-width: 1200px;
    margin: 0 auto;
}

.featuredContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.imgContainer{
    display: flex;
    justify-content: center;
}
.imgContainer img{
    max-height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
@media (max-width: 425px) {
    .featuredContainer{
        flex-direction: column;
        padding: 25px;
    }

    .imgContainer img{
        max-height: none;
    }
}


@media only screen and (max-width: 768px) and (min-width: 426px) {  
    .featuredContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cardContainer{
        width: 40%;
    }
}