.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow-x: hidden;
  }

  .playCont{
    height: 80vh;
    background: url('https://gmedia.playstation.com/is/image/SIEPDC/ps5-games-hero-banner-desktop-03-en-07oct21?$4000px$') no-repeat center/cover;
    display: grid;
    place-items: center;
    position: relative;
  }
  .blur{
    height: 100%;
    width: 100%;
    background: inherit;
    filter: blur(6px);
    clip-path: inset(5rem);
  }
  .content{
    border-radius: 0.5rem;
    z-index: 2;
    position: absolute;
    background: #fff6;
    width: calc(100% - 10rem);
    height: calc(100% - 10rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2c2c2c;
    font-size: 1.2rem;
    gap: 3rem;
    font-family: 'Rubik', sans-serif;
  }

  .content h1{
    font-size: 1.5em;
  }
  .content p{
    font-size: 1em;
  }

  h1{
    word-wrap: wrap;
  }
  
  
  .btn{
    background-color: #7b2cbf;
    font-family: 'Rubik', sans-serif;
    padding: 1em 1.5em;
    border-radius: 15px;
    color: white;
    width: 20%;
    text-align: center;
  }
  @media (max-width: 600px) {
    .content{
      gap: 1rem;
      width: 90%;
    }
    
    .content h1{
      font-size: 1em;
    }
    .content p{
      font-size: 0.8em;
    }
    .content a{
      font-size: 0.8em;
    }
    .btn{
      padding: 0.5em 1em;
    }

  }